html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.development {
   font-family: "Open Sans", sans-serif;
   background-color: #f4f0f0;
   color: #333;
}

h5 {
   margin: 0 auto;
   font-size: 12px;
   font-weight: 800;
   width: 237px;
   text-transform: uppercase;
   background: linear-gradient(90deg, #4343FF 0%, #F96D6D 100%);
   color: transparent;
   background-clip: text;
   margin-bottom: 22px;
   margin-top: 80px;
}

h2 {
   text-align: center;
   font-size: 46px;
   font-weight: 400;
   margin: 0;
   margin-bottom: 80px;  
}

 .solutions {
   display: flex;
   flex-direction: column;
   gap: 25px;
 }

 .solutions__line {
   display: flex;
   gap: 25px;
   justify-content: center;
 }

.solutions__card {
   background-color: #ffffff;
   width: 387px;
   height: 225px;
  padding: 22px;
}

.solutions__card-text {
font-size: 17px;
font-weight: 400;
line-height: 26px;
color: #5C5C5C;
margin: 0;
margin-top: 28px;
 }

 .sales {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }

.left-content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: center;
   width: 470px;
   height: 171px;
   margin-right: 60px;
}

.left-content__heading {
   font-family: Roboto;
   font-size: 36px;
   font-weight: 700;
   line-height: 38px;
   padding-bottom: 15px;
   text-align: left;
   text-transform: none;
   color: #56565A;
}

.left-content__text {
   font-family: open sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   padding-bottom: 30px;
   text-align: left;
   text-transform: none;
   color: #56565A;
}

.left-content__button {
   width: 142px;
   height: 44px;
   gap: 0px;
   background-color: #0A467E;
   color: #FFFFFF;
   border: none;
   font-family: open sans;
   font-size: 16px;
   font-weight: 450;
   line-height: 20px;
   text-align: center;
}

.button2 {
   margin-left: 15px;
}

.right-content {
   display: flex;
   flex-direction: row;
   gap: 15px;
}

.right-content__left-boxes {
   display: flex;
   flex-direction: column;
   gap: 15px
}

.right-content__box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #f7f7f7;
   border: 1px solid #ededed;
   border-radius: 5px;
   gap: 15px;
   padding: 22px;
   width: 270px;
   height: 196px;
}

.right-content__right-box {
   align-self: stretch;
   height: 498px;
   box-sizing: border-box;
}

.box-heading {
   display: flex;
   flex-direction: column;
   align-items: center;
}

hr {
   width: 170px;
   height: 0px;
   gap: 0px;
   border: 1px 0px 0px 0px;
   border: 1px solid var(--Slate-200, rgba(227, 227, 227, 1));
   margin-top: 15px;
   margin-bottom: 15px;
}

.right-content__box1-description {
   font-family: open sans;
   font-size: 14px;
   font-weight: 400;
   line-height: 19px;
   text-align: center;
   justify-content: center;
   text-transform: none;
   color: rgba(86, 86, 90, 1);
}

.right-content__box1-header {
font-family: open sans;
font-size: 18px;
font-weight: 700;
line-height: 22px;
text-align: center;
color: rgba(86, 86, 90, 1);
text-transform: none;

}
.galery {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.galery__head {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   width: 736px;
   margin: 72px 99px 72px 92px;
}

h3 {
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 28px;
margin-bottom: 15px;
text-align: left;
color: rgba(51, 51, 51, 1);
}
   
.galery__description {
font-family: Montserrat;
font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: rgba(51, 51, 51, 1);
}

.photos {
   display: flex;
   gap: 18px;
   margin-top: 33px;
   margin-bottom: 80px;
}

footer {
   width: 927px;
   height: 197px;
   border-radius: 4px;
   background-color: rgba(0, 121, 200, 1);
   ;
}

.footer__block {
   margin: 40px 50px 30px 50px;
}


.footer__heading {
   font-family: Montserrat;
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
}

.footer__text-button {
display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
gap: 83px;
}

h1 {
   font-family: Montserrat;
   font-size: 35px;
   font-weight: 400;
   line-height: 44px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
}

.footer__button {
   width: 261px;
   height: 56px;
   top: 2204.91px;
   left: 43px;
   padding: 0px 39.19px 0px 37.81px;
   gap: 0px;
   border: none;
   border-radius: 4px;
   opacity: 0px;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 1);
   color: rgba(0, 121, 200, 1);
   font-family: Montserrat;
   font-size: 16px;
   font-weight: 600;
   line-height: 16px;
   text-align: center;

}